<nav class="navbar navbar-expand-md bg-primary fixed-top">
  <a class="navbar-brand" routerLink="/home">Training Rater</a>
  <button class="navbar-toggler hidden-sm-up" 
  type="button" 
  (click)="isNavbarCollapsed = !isNavbarCollapsed"
  data-target="#navbarsDefault" aria-controls="navbarsDefault"
  aria-expanded="false">
  <span class="navbar-toggler-icon"></span></button>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a routerLink="/home" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="/home" class="nav-link">Sessions</a>
    </li>
  </ul>
</nav>
<div class="routing-container">
  <router-outlet></router-outlet>
</div>